@charset "utf-8";

*{margin:0;}
body{
    color:#333; 
    min-width:1200px;
    font-family: 'NotoSans';
}
a{color:#333; text-decoration:none;}
ul{margin:0;padding:0;list-style:none;}

.inner{width:1200px; margin:0 auto;}
.cf::after{content:""; display:block; clear:both;}
