@charset "utf-8";

/*ν—¤λ”*/
#header{ height:43px; line-height:43px;margin:10px 50px;}
.header{text-align:center; font-size:14px;  position:relative;}
.header h1{width:110px; height:43px; background:url(../images/sp_com.png) no-repeat -300px -5px; text-indent:-9999px; position:absolute;left:0; top:0;}
.header h1 a{display:block;}

.gnb{display:inline-block;}
.gnb li{float:left; margin:0 30px;}

.util{font-size:12px; position:absolute; right:0; top:0; }
.util li{float:left;}
.util li::after{content:""; display:inline-block; width:1px; height:6px; background-color:#333; margin:0 5px; }
.util li:last-child::after{display:none;}

/*ν‘Έν„°*/
#footer{
    background-color:#4c5459; 
    color:#fff; 
    font-size:13px;}
#footer a{color:#fff;}

.fTop{background-color:#383f43; line-height:40px; height:40px; padding:10px 0;}

.fMenu{float:left;}
.fMenu li{float:left;}
.fMenu li a{color:#fff;}

.menuBar li::after{content:""; display:inline-block; width:1px; height:8px; background-color:#fff; margin:0 5px;}
.menuBar li:last-child::after{display:none;}

.csFamily{float:right;}
.csFamily>div{float:left; padding:0 15px; height:40px;}

.csBox{background-color:#2a3033;}
.csBox span{
    vertical-align:middle; 
    margin-left:5px; 
    font-weight:bold;
}
.csBox .csNum{
    font-size:22px; 
    font-weight:normal;
}

.familySite{
    width:150px;
    background:url(../images/arrow.png) #fff no-repeat 95% center; color:#333; 
    margin-left:10px; 
}

.fBottom{text-align:center; padding:50px 0;}
.fLogo{
    width:131px; 
    height:50px; 
    text-indent:-9999px; 
    background:url(../images/sp_com.png) no-repeat -149px 0; margin:0 auto; }

.fInfo{display:inline-block;margin:30px 0 10px;}
.fInfo li{float:left;}